.player-page .embla {
    position: relative;
}

.player-page .embla__container {
    column-gap: 8px;
}

.player-page .embla__slide {
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.player-page .embla__slide:not(.is-in-view) {
    opacity: 0;
    visibility: hidden;
}

.player-page .hero .media-logo {
    filter: brightness(0.95) contrast(1.05) saturate(1.1);
    max-height: clamp(70px, 8.8vw, 120px);
    max-width: 70%;
}

.player-page .hero .disabled-title,
.player-page .hero .disabled-logo {
    visibility: hidden;
    margin: 0 !important;
    height: 0;
    overflow: hidden;
}

.player-page .hero .img-box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top,
            var(--color-background),
            var(--color-gradient-0),
            var(--color-background));
}

.player-page .actors-carousel .embla {
    padding: 0 var(--page-padding);
}

.player-page .actors-carousel .prev-slide-box,
.player-page .actors-carousel .next-slide-box {
    background-color: color-mix(in oklab, var(--color-surface) 85%, transparent);
}

.seasons-wrapper {
    width: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: auto;
    justify-content: center;
}

@media screen and (width >=640px) {
    .player-page .hero .media-logo {
        max-width: clamp(350px, 45vw, 500px);
    }

    .seasons-wrapper {
        grid-template-columns: auto auto;
    }

    .player-page .hero .img-box::before {
        background-image: linear-gradient(to top,
                var(--color-gradient-base),
                var(--color-gradient-90),
                var(--color-gradient-60),
                var(--color-gradient-0),
                var(--color-gradient-70));
    }
}

@media screen and (width >=1024px) {
    .player-page .actors-carousel .embla {
        padding: 0;
    }

    .player-page .prev-slide-box,
    .player-page .next-slide-box {
        display: none;
    }

    .player-page .embla:hover .prev-slide-box,
    .player-page .embla:hover .next-slide-box {
        display: flex;
    }

    .player-page .actors-carousel .prev-slide-box,
    .player-page .actors-carousel .next-slide-box {
        background-color: color-mix(in oklab, var(--color-background) 85%, transparent);
    }

 
}

@media screen and (width >=1280px) {
    .seasons-wrapper {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (width >=1536px) {
    .actors-carousel .embla {
        width: var(--page-max-width);
    }

    .player-page .embla {
        margin-inline: auto;
        overflow-x: hidden;
    }
}