.featured-series {
    font-family: var(--font-inter), 'sans-serif';
}

.featured-series .embla {
    position: relative;
    max-width: var(--page-max-width);
    padding-inline: var(--page-padding) !important;
}

.featured-series .embla__slide {
    width: fit-content;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    opacity: 0;
    visibility: hidden;
    overflow: visible !important;
    cursor: pointer;
}

.featured-series .embla__slide .hover-animation {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: end;
    transition: transform 0.15s ease-out;
}

.featured-series .embla__slide:not(:first-of-type) {
    margin-left: 1.5rem !important;
}

.featured-series .embla__slide:last-of-type {
    margin-right: 1.5rem;
}

.featured-series .embla__slide.is-in-view {
    opacity: 1;
    visibility: visible;
}

.featured-series .img-box {
    position: relative;
    height: clamp(16vw, round(calc(((100vw - 16px - var(--page-padding) * 2) / 3) * 1.4), 1px), 200px);
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--radius-box);
    background-color: var(--color-surface);
    transition: box-shadow 0.15s ease-out;
    box-shadow: 0 0 0 3px transparent;

}

.featured-series .img-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            color-mix(in oklab, var(--color-background) 0%, transparent),
            color-mix(in oklab, var(--color-background) 95%, transparent));
    z-index: 1;
}

.featured-series .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.15s ease-in-out;
}

.featured-series .default-navigation .bullets-bar {
    position: absolute;
    top: -32px;
    right: var(--page-padding);
    visibility: hidden;
}

.featured-series .embla__slide .custom-stroke {
    font-size: clamp(130px, 15vw, 210px);
    font-weight: 900;
    -webkit-text-stroke: 3px color-mix(in oklab, var(--color-secondary) 30%, transparent);
    display: inline-block;
    color: transparent;
    margin-block: auto;
    transition: -webkit-text-stroke-color 0.15s ease-out;
}

.featured-series .embla__slide:not(:first-of-type, :last-of-type) .custom-stroke {
    transform: translateX(round(calc(clamp(130px, 15vw, 210px) * 0.25), 1px));
    margin-left: round(calc(clamp(130px, 15vw, 210px) * -0.25), 1px);
}

.featured-series .embla__slide:first-of-type .custom-stroke {
    transform: translateX(round(calc(clamp(130px, 15vw, 210px) * 0.10), 1px));
    margin-left: round(calc(clamp(130px, 15vw, 210px) * -0.10), 1px);
}

.featured-series .embla__slide:last-of-type .custom-stroke {
    transform: translateX(round(calc(clamp(130px, 15vw, 210px) * 0.40), 1px));
    margin-left: round(calc(clamp(130px, 15vw, 210px) * -0.40), 1px);
}

.featured-series .embla__slide .serie-logo {
    object-fit: cover;
    max-width: 70%;
    max-height: 50%;
    position: absolute;
    bottom: clamp(12px, 1.25vw, 20px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.featured-series .embla__slide .bookmark-icon {
    transition: opacity 0.15s ease-in-out, pointer-events 0.15s linear;
}

.featured-series .prev-slide-box,
.featured-series .next-slide-box {
    background-color: var(--color-gradient-80);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s ease-out, opacity 0.15s ease-out;
}


@media screen and (width >=1024px) {
    .featured-series .embla__slide .hover-animation {
        will-change: transform;
        transform-origin: center;
    }

    .featured-series .bullets-bar {
        visibility: visible !important;
    }
}

@media screen and (width >=1536px) {
    .featured-series .img-box {
        height: clamp(190px, 14vw, 280px);
    }

    .featured-series .embla__slide .custom-stroke {
        font-size: clamp(210px, 13vw, 260px);
    }

    .featured-series .embla__slide:not(:first-of-type, :last-of-type) .custom-stroke {
        transform: translateX(round(calc(clamp(210px, 13vw, 260px) * 0.25), 1px));
        margin-left: round(calc(clamp(210px, 13vw, 260px) * -0.25), 1px);
    }

    .featured-series .embla__slide:first-of-type .custom-stroke {
        transform: translateX(round(calc(clamp(210px, 13vw, 260px) * 0.10), 1px));
        margin-left: round(calc(clamp(210px, 13vw, 260px) * -0.10), 1px);
    }

    .featured-series .embla__slide:last-of-type .custom-stroke {
        transform: translateX(round(calc(clamp(210px, 13vw, 260px) * 0.40), 1px));
        margin-left: round(calc(clamp(210px, 13vw, 260px) * -0.40), 1px);
    }
}

@media screen and (width >=2000px) {
    .featured-series .embla {
        margin-inline: auto;
        padding-inline: 0 !important;
        overflow-x: clip;
    }

    .featured-series .default-navigation .bullets-bar {
        right: 0;
    }
}

@media (hover: hover) {
    .featured-series .embla__slide:hover .hover-animation {
        transform: scale(1.03) translateZ(0);
    }

    .featured-series .embla__slide:hover .custom-stroke {
        -webkit-text-stroke-color: var(--color-secondary);
    }

    .featured-series .embla__slide:hover .img-box {
        box-shadow: 0 0 0 3px var(--color-secondary);
    }

    .featured-series .embla:hover .prev-slide-box,
    .featured-series .embla:hover .next-slide-box {
        visibility: visible;
    }

    .featured-series .embla .prev-slide-box:hover,
    .featured-series .embla .next-slide-box:hover {
        opacity: 1;
    }
}