.movie-serie-carousel .embla {
    padding: 0 20px;
}

.movie-serie-carousel .embla__container {
    column-gap: 8px;
}

.movie-serie-carousel .embla__slide {
    width: clamp(140px, 30%, 200px);
}

.movie-serie-carousel .img-wrapper {
    position: relative;
}

.movie-serie-carousel .play-icon-box {
    display: none;
}

.movie-serie-carousel .img-box {
    position: relative;
    aspect-ratio: 1 / 1.4;
    overflow: hidden;
    border-radius: 6px;
}

.movie-serie-carousel .img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--color-surface);
}

/* .movie-serie-carousel .img-box::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-image: radial-gradient(
        ellipse, 
        var(--color-background), 
        transparent, 
        transparent
    );
    z-index: 10;
} */

.movie-serie-carousel .favorite-button {
    display: none;
}

@media screen and (width>=640px) {
    .movie-serie-carousel .embla {
        padding: 0 40px;
    }
}

@media screen and (width >=768px) {
    .movie-serie-carousel .embla__slide {
        width: calc((100% - 24px) / 4);
    }

    .movie-serie-carousel .img {
        transition: transform 0.2s ease-in-out;
        pointer-events: none;
    }

    .movie-serie-carousel .img-box::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0;
        background-image: none;
        transform: none;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
        background-color: var( --color-gradient-70);
    }

    .movie-serie-carousel .img-wrapper:hover .img {
        transform: scale(110%);
    }

    .movie-serie-carousel .img-wrapper:hover .img-box::before {
        visibility: visible;
        opacity: 1;
    }

    .movie-serie-carousel .img-wrapper .favorite-button {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        display: block;
    }

    .movie-serie-carousel .img-wrapper:hover .favorite-button {
        opacity: 1;;
    }

    .movie-serie-carousel .play-icon-box {
        opacity: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: opacity 0.2s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: 11;
        cursor: pointer;
        background-color: var(--color-primary);
        border-radius: 50%;
    }

    .movie-serie-carousel .img-wrapper:hover .play-icon-box {
        opacity: 1;;
    }
}

@media screen and (width >=1024px) {
    .movie-serie-carousel .embla__slide {
        width: calc((100% - 32px) / 5);
    }

    .movie-serie-carousel .embla {
        padding: 0 70px;
    }
}