.movie-serie-carousel .embla__container {
    column-gap: 10px;
}

.movie-serie-carousel .scale-animation {
    width: 150px;
    aspect-ratio: 1 / 1.5;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(22, 20, 43);
    border-radius: 4px;
}

.movie-serie-carousel .scale-animation::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-image: radial-gradient( ellipse, rgb(2, 5, 21), transparent, transparent );
    z-index: 10;
}

.movie-serie-carousel .slide-image-container {
    position: relative;
}

.movie-serie-carousel .play-icon-box {
    display: none;
}

@media screen and ( width >= 500px ) {
    .movie-serie-carousel .scale-animation {
        width: 175px;
    }
}

@media screen and ( width >= 768px ) {
    .movie-serie-carousel .scale-animation {
        width: 200px;
    }

    .movie-serie-carousel .scale-animation::before {
        display: none;
    } 

    .movie-serie-carousel .image {
        transition: opacity 0.3s ease;
    }

    .slide-image-container:hover .scale-animation .image {
        opacity: 40%;
    }

    .slide-image-container .favorite-button {
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    .slide-image-container:hover .favorite-button {
        opacity: 100%;
    }
   
    .movie-serie-carousel .play-icon-box {
        opacity: 0;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s linear;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        cursor: pointer;
        background-color: #ffff13;
        border-radius: 50%;
    }

    .slide-image-container:hover .play-icon-box {
        opacity: 100%;
    }
}

@media screen and ( width >= 1280px ) {
    .movie-serie-carousel .scale-animation {
        width: 225px;
    }
}