@import "tailwindcss";

@plugin "daisyui" {
  themes: "dark-theme" --default;
}

/* cores necessarias para animações do daisy ui */
@plugin "daisyui/theme" {
  name: "dark-theme";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-300: color-mix(in oklab, var(--color-secondary) 5%, transparent);
  --color-base-100: color-mix(in oklab, var(--color-secondary) 7%, transparent);
}

/* cores e fontes utilizadas no projeto */
@theme {
  --font-inter: var(--font-inter), "sans-serif";
  --font-raleway: var(--font-raleway), "sans-serif";
  --font-roboto: var(--font-roboto), "sans-serif";
  --color-primary: #ffff13
    /*cor primaria para textos e botoes com destaque*/
  ;
  --color-secondary: #ffffff
    /*cor secondaria para textos e botoes com destaque*/
  ;
  --color-primary-content: #333333
    /*contraste com a cor acima, para textos de botoes e outros*/
  ;
  --color-background: #111111;
    /*cor de fundo da pagina*/
  ;
  --color-text: #c4c4c4
    /*cor padrão para textos*/
  ;
  --color-text-500: #7d7d7d
    /* cor de texto mais escura */
  ;
  --color-surface: #141414
    /*contraste com a cor de fundo da pagina, para cards e seçoes*/
  ;
  --color-accent: #333333
    /*constraste para textos em botoes de destaque*/
  ;
  --color-success: "";
  --color-error: red;
}

:root {
  /* border radius */
  --radius-selector: 0px;
  --radius-field: 0px;
  --radius-box: 0px;
  --radius-button: 0px;
  --radius-box: 0px;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  --title-height: 12px;
  --details-height: 8px;
  --page-padding: 20px;
  --page-max-width: 2000px;
  --media-carousel-gap: 8px;
  --featured-carousel-gap: 24px;

  --color-gradient-0: color-mix(in oklab, var(--color-background) 0%, transparent);
  --color-gradient-10: color-mix(in oklab, var(--color-background) 10%, transparent);
  --color-gradient-20: color-mix(in oklab, var(--color-background) 20%, transparent);
  --color-gradient-30: color-mix(in oklab, var(--color-background) 30%, transparent);
  --color-gradient-40: color-mix(in oklab, var(--color-background) 40%, transparent);
  --color-gradient-50: color-mix(in oklab, var(--color-background) 50%, transparent);
  --color-gradient-60: color-mix(in oklab, var(--color-background) 60%, transparent);
  --color-gradient-70: color-mix(in oklab, var(--color-background) 70%, transparent);
  --color-gradient-80: color-mix(in oklab, var(--color-background) 80%, transparent);
  --color-gradient-90: color-mix(in oklab, var(--color-background) 90%, transparent);
  --color-gradient-base: color-mix(in oklab, var(--color-background) 100%, transparent);
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-roboto), helvetica, sans-serif;
}

html {
  scrollbar-gutter: stable;
}

body h1,
body h2,
body h3,
body h4,
body h5,
button,
input {
  line-height: 1.25;
  letter-spacing: 0.025em;
}

body p {
  line-height: 1.55;
}

body .page-padding {
  padding-inline: var(--page-padding);
}

body .page-max-width {
  max-width: var(--page-max-width);
  overflow-x: hidden;
}

@media screen and (width>=640px) {
  :root {
    --page-padding: clamp(40px, 6.3vw, 64px);
  }
}

@media screen and (width>=1536px) {
  body .page-max-width {
    margin-inline: auto;
  }
}