.media-carousel .embla__slide {
    overflow: visible !important;
}

.media-carousel .embla__slide.is-in-view {
    opacity: 1;
    visibility: visible;
}

.media-carousel .embla__slide:last-of-type {
    margin-right: 0.5rem;
}

.media-carousel .embla__slide .media-details {
    opacity: 0;
    transition: opacity 0.25s ease-out;
    border-radius: 6px;
    background-color: var(--color-gradient-90);
}

.media-carousel .default-navigation .bullets-bar {
    position: absolute;
    top: -32px;
    right: var(--page-padding);
    visibility: hidden;
}

@media screen and (width >= 1024px) {
    .media-carousel .prev-slide-box,
    .media-carousel .next-slide-box {
        background-color: var(--color-gradient-80);
    }

    .media-carousel .bullets-bar {
        visibility: visible !important;
    }
}

@media screen and (width >=2000px) {
    .media-carousel .prev-slide-box,
    .media-carousel .next-slide-box {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.15s ease-out, opacity 0.15s ease-out;
    }

    .media-carousel .embla:hover .prev-slide-box,
    .media-carousel .embla:hover .next-slide-box {
        visibility: visible;
    }

    .media-carousel .embla .prev-slide-box:hover,
    .media-carousel .embla .next-slide-box:hover {
        opacity: 1;
    }

    .media-carousel .default-navigation .bullets-bar {
        right: 0;
    }
}

@media (hover: hover) {
    .media-carousel .embla__slide:hover .media-details {
        opacity: 1;
    }
}