.popular-slides .embla__container {
    column-gap: 10px;
}

.slide-image-container {
    cursor: pointer;
    position: relative;
}

.slide-image-container .play-icon-box {
    display: none;
}

@media screen and ( width >= 768px ) {
    .slide-image-container .image {
        transition: opacity 0.3s linear;
    }

   .slide-image-container .play-icon-box {
        opacity: 0;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s linear;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        cursor: pointer;
        background-color: #ffff13;
        border-radius: 50%;
    }

    .slide-image-container:hover .play-icon-box {
        opacity: 100%;
    }

    .slide-image-container:hover .image {
        opacity: 40%;
    }
}