.trending-slides .embla__container {
    column-gap: 10px;
}

.trending-slides .slide-container {
    position: relative;
}

.slide-container .image {
    width: 150px;
    aspect-ratio: 1 / 1.35;
    object-fit: cover;
    border-radius: 4px;
    opacity: 30%;
    cursor: pointer;
}

@media screen and ( width >= 500px ) {
    .slide-container .image {
        width: 175px;
    }
}

@media screen and ( width >= 768px ) {
    .slide-container .image {
        width: 200px;
    }
}

@media screen and ( width >= 1280px ) {
    .slide-container .image {
        width: 225px;
    }
}