:root {
    --bullet-w: 16px;
    --bullet-h: 2px;
}

.default-navigation .bullets-bar {
    display: flex;
    column-gap: 8px;
    align-items: center;
    z-index: 30;
    pointer-events: all;
}

.default-navigation .bullets-bar .bullet {
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    width: var(--bullet-w);
    height: var(--bullet-h);
    transition: all 0.15s linear;
    background-color: color-mix(in oklab, var(--color-secondary) 20%, transparent);
}

.default-navigation .bullets-bar .active-bullet {
    background-color: var(--color-primary);
}


@media screen and (width>=1024px) {
    .default-navigation 
    .bullets-bar 
    .bullet:not(.active-animated-bullet, .active-bullet):hover {
        background-color: color-mix(in oklab, var(--color-primary) 20%, transparent);
    }
}