@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1}
}

.season-container {
    width: 100%;
}

.season-container .embla__container {
    display: flex;
    column-gap: 8px;
}

.season-container h3 {
    letter-spacing: 0.02em;
}

.season-container .embla__slide{
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media screen and (width >= 640px) {
    .season-container .embla__slide {
        width: calc((100% - 8px) / 2);
    }
}

@media screen and (width >= 1024px) {
    .season-container .embla__slide {
        width: calc((100% - 16px) / 3);
    }
}

@media screen and (width >= 1440px) {
    .season-container .embla__slide {
        width: calc((100% - 24px) / 4);
    }
}