:root {
    --page-overflow: auto;
}

:root:has(.loading-wrapper.show) {
    --page-overflow: hidden;
}

html,
body {
  overflow: var(--page-overflow);
}

.loading-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.svg-loading-box svg {
    width: 3.7em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
    transform: translateZ(0);
}

.svg-loading-box circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 3;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

.loading-wrapper.show {
    opacity: 1;
    visibility: visible;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}