@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

header {
    padding-block: 1.25rem;
    transition: all 0.15s linear;
}

.is-scrolling {
    background-color: var(--color-surface);
}

header .mobile-search-bar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

header .mobile-search-bar.active {
    opacity: 1;
    visibility: visible;
    background-color: var(--color-surface);
}

@media screen and ( width >= 1024px ) {
    header {
        padding-top: initial;
        padding-bottom: initial;
    }

    header:not(.is-scrolling) {
        padding-block: 1.5rem;
    }

    header.is-scrolling {
        padding-block: 1.25rem;
    }
}