@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    height: 75px;
}

header.is-scrolling {
    background-color: var(--color-surface);
    transition: background-color 0.2s ease-out;
}

header:not(.is-scrolling) {
    transition: background-color 0.2s ease-in;
}

header .search-wrapper:not(.active-bar) .search-bar {
    display: none;
    opacity: 0;
    background-color: transparent;
    transition: opacity 0.1s ease-in, display 0.1s ease-in, background-color 0.1s ease-in;
}

header .search-wrapper.active-bar .search-icon {
    display: none;
}

header .search-wrapper.active-bar .search-bar {
    opacity: 1;
    display: block;
    transition: opacity 0.1s ease-out, display 0.1s ease-out, background-color 0.1s ease-out;
    background-color: var(--color-surface);
}

@media screen and (width >=1024px) {
    header .search-wrapper.active-bar .search-bar {
        background-color: transparent;
    }
}