@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    height: 75px;
}

header.is-scrolling {
    background-color: var(--color-surface);
    transition: background-color 0.2s ease-out;
}

header:not(.is-scrolling) {
    transition: background-color 0.2s ease-in;
}

header .search-bar,
header .search-icon {
    transition: opacity 0.2s ease-out;
}

header .search-bar:has(:not(.has-value)) {
    opacity: 0;
    pointer-events: none;
}

header .search-bar:has(.has-value) {
    opacity: 1;
    pointer-events: auto;
}

header .search-bar-wrapper:has(.has-value) .search-icon {
    opacity: 0;
    pointer-events: none;
}

@media screen and (width >=1024px) {
    header .search-wrapper.active-bar .search-bar {
        background-color: transparent;
    }
}

@media (hover:hover) {
    header .search-bar-wrapper #search-bar-checkbox {
        display: none;
    }

    header .search-bar-wrapper:hover .search-bar {
        opacity: 1;
        pointer-events: auto;
    }

    header .search-bar-wrapper:hover .search-icon {
        pointer-events: none;
        opacity: 0;
    }
}

@media (hover:none) {
    header .search-bar-wrapper #search-bar-checkbox {
        display: initial;
    }

    header .search-bar-wrapper:has(input:checked) .search-bar  {
        opacity: 1;
        pointer-events: auto;
    }

    header .search-bar-wrapper:has(input:checked) .search-icon {
        pointer-events: none;
        opacity: 0;
    }
}