.movie-serie-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(140px, 1fr) );
    gap: 8px;
}

.movie-serie-section .card-image {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    aspect-ratio: 1 / 1.4;
};

.movie-serie-section .img-box {
    width: 100%;
    height: 100%;
}

.movie-serie-section .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    background-color: var(--color-surface);
}

.movie-serie-section .play-icon-box, 
.movie-serie-section .favorite-button {
    display: none;
}

@media screen and ( width >= 768px ) {
    .movie-serie-section {
        grid-template-columns: repeat( auto-fill, minmax(calc((100% - 24px) / 4), 1fr) );
    }

    .movie-serie-section .img-box {
        pointer-events: none;
    }

    .movie-serie-section .img-box::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0;
        background-image: none;
        transform: none;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
        background-color: var( --color-gradient-70);
    }

    .movie-serie-section .img {
        transition: transform 0.2s ease-in-out;
        pointer-events: none;
    }

    .movie-serie-section .card-image:hover .img {
        transform: scale(110%);
    }

    .movie-serie-section .card-image:hover .img-box::before {
        visibility: visible;
        opacity: 1;
    }

    .movie-serie-section .card-image .favorite-button {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
        display: block;
    }

    .movie-serie-section .card-image:hover .favorite-button {
        opacity: 1;;
    }

    .movie-serie-section .play-icon-box {
        opacity: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: opacity 0.2s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: 11;
        cursor: pointer;
        background-color: var(--color-primary);
        border-radius: 50%;
    }

    .movie-serie-section .card-image:hover .play-icon-box {
        opacity: 1;;
    }
}

@media screen and ( width >= 1024px ) {
    .movie-serie-section {
        grid-template-columns: repeat( auto-fill, minmax(calc((100% - 32px) / 5), 1fr) );
    }
}

@media screen and ( width >= 1280px ) {
    .movie-serie-section {
        grid-template-columns: repeat( auto-fill, minmax(calc((100% - 40px) / 6), 1fr) );
    }
}