@keyframes autoplay-progress {
  from {
    width: var(--bullet-width);
  }

  to {
    width: 100%;
  }
}

:root {
  --bullet-width: clamp(0.75rem, 0.9vw, 0.875rem);
  --bullet-height: clamp(0.75rem, 0.9vw, 0.875rem);
}

.bullets-bar {
  position: absolute;
  bottom: 0;
  right: calc(50%);
  display: flex;
  column-gap: var(--bullet-width);
  align-items: center;
  z-index: 30;
}

.bullets-bar .bullet {
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  width: var(--bullet-width);
  height: var(--bullet-height);
  transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: color-mix(in oklab, var(--color-secondary) 40%, transparent);
}

.bullets-bar .active-bullet {
  background-color: var(--color-primary);
  width: var(--bullet-width);
  height: var(--bullet-height);
}

.bullets-bar .active-animated-bullet {
  background-color: color-mix(in oklab, var(--color-primary) 20%, transparent);
  width: calc(var(--bullet-width) * 3);
  border-radius: 15px;
  transition: width 0.3s linear;
  position: relative;
  height: var(--bullet-height);
}

.bullets-bar .active-animated-bullet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 15px;
  animation: autoplay-progress 10s linear forwards;
  background-color: var(--color-primary);
}

.bullets-bar .active-animated-bullet .bullet {
  transition: all 0s linear;
}

@media screen and (width >=640px) {
  .bullets-bar {
    bottom: 6rem;
  }
}