@keyframes autoplay-progress {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes active-slide {
  from { 
    background-color: color-mix(in oklab, var(--color-primary) 20%, transparent);
  }
  to { background-color: var(--color-primary);}
}

:root {
  --bullet-width: clamp(2rem, 2.5vw, 2.5rem);
  --bullet-height: clamp(0.375rem, 0.50vw, 0.5rem);
}

.bullets-bar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  column-gap: var(--bullet-height);
  align-items: center;
  z-index: 30;
  pointer-events: all;
}

.bullets-bar .bullet {
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  width: var(--bullet-width);
  height: var(--bullet-height);
  transition: all 0.15s linear;
  background-color: color-mix(in oklab, var(--color-secondary) 20%, transparent);
}

.bullets-bar .active-bullet {
  background-color: color-mix(in oklab, var(--color-primary) 20%, transparent);
  animation: active-slide 0.15s linear 1s forwards;
}

.bullets-bar .active-animated-bullet {
  background-color: color-mix(in oklab, var(--color-primary) 20%, transparent);
  position: relative;
  overflow: hidden;
  width: calc(var(--bullet-width) * 2);
}

.bullets-bar .active-animated-bullet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: none;
  transform: translate3d(-100%, 0, 0);
  animation: autoplay-progress 7s linear 0.15s forwards;
  background-color: var(--color-primary);
}

@media screen and (width >=640px) {
  .bullets-bar {
    bottom: calc(56vw * 0.25 - 40px);
    transform: none;
    left: var(--page-padding);
  }
}

@media screen and (width>=1024px) {
  .bullets-bar .bullet:not(.active-animated-bullet, .active-bullet):hover {
    background-color: color-mix(in oklab, var(--color-primary) 20%, transparent);
  }
}

@media screen and (width >=1536px) {
  .bullets-bar {
    left: calc((100% - 1536px) / 2 + 64px);
  }
}