@import "tailwindcss";

@plugin "daisyui" {
  themes: "dark-theme" --default;
};

/* cores necessarias para animações do daisy ui */
@plugin "daisyui/theme" {
  name: "dark-theme";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-300: #e5e7eb /**/;
  --color-base-100: #ffffff /**/;
}

/* cores e fontes utilizadas no projeto */
@theme {
  --font-inter: var(--font-inter), "sans-serif";
  --font-raleway: var(--font-raleway), "sans-serif";
  --color-primary: #ffff13 /*cor primaria para textos e botoes com destaque*/;
  --color-secondary: #ffffff /*cor secondaria para textos e botoes com destaque*/;
  --color-primary-content: #333333 /*contraste com a cor acima, para textos de botoes e outros*/;
  --color-background: #020515 /*cor de fundo da pagina*/;
  --color-text: #b3b4b8 /*cor padrão para textos*/;
  --color-surface: #16142A /*contraste com a cor de fundo da pagina, para cards e seçoes*/;
  --color-accent: #333333 /*constraste para textos em botoes de destaque*/;
  --color-success: "" /**/;
  --color-error: "" /**/;
}

:root {
  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-inter), helvetica, sans-serif;
}

