@import "tailwindcss";

@plugin "daisyui" {
  themes: "dark-theme" --default;
}

;

/* cores necessarias para animações do daisy ui */
@plugin "daisyui/theme" {
  name: "dark-theme";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-300: #e5e7eb
    /**/
  ;
  --color-base-100: #ffffff
    /**/
  ;
}

/* cores e fontes utilizadas no projeto */
@theme {
  --font-inter: var(--font-inter), "sans-serif";
  --font-raleway: var(--font-raleway), "sans-serif";
  --color-primary: #ffff13
    /*cor primaria para textos e botoes com destaque*/
  ;
  --color-secondary: #ffffff
    /*cor secondaria para textos e botoes com destaque*/
  ;
  --color-primary-content: #333333
    /*contraste com a cor acima, para textos de botoes e outros*/
  ;
  --color-background: #060D17
    /*cor de fundo da pagina*/
  ;
  --color-text: #b3b4b8
    /*cor padrão para textos*/
  ;
  --color-surface: #0F1621
    /*contraste com a cor de fundo da pagina, para cards e seçoes*/
  ;
  --color-accent: #333333
    /*constraste para textos em botoes de destaque*/
  ;
  --color-success: ""
    /**/
  ;
  --color-error: red
    /**/
  ;
}

:root {
  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  --title-height: 12px;
  --details-height: 8px;
  --page-padding: 20px;
  --page-max-width: 1536px;

  --color-gradient-0: color-mix(in oklab, var(--color-background) 0%, transparent);
  --color-gradient-10: color-mix(in oklab, var(--color-background) 10%, transparent);
  --color-gradient-20: color-mix(in oklab, var(--color-background) 20%, transparent);
  --color-gradient-30: color-mix(in oklab, var(--color-background) 30%, transparent);
  --color-gradient-40: color-mix(in oklab, var(--color-background) 40%, transparent);
  --color-gradient-50: color-mix(in oklab, var(--color-background) 50%, transparent);
  --color-gradient-60: color-mix(in oklab, var(--color-background) 60%, transparent);
  --color-gradient-70: color-mix(in oklab, var(--color-background) 70%, transparent);
  --color-gradient-80: color-mix(in oklab, var(--color-background) 80%, transparent);
  --color-gradient-90: color-mix(in oklab, var(--color-background) 90%, transparent);
  --color-gradient-base: color-mix(in oklab, var(--color-background) 100%, transparent);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-inter), helvetica, sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  line-height: 1.25;
  letter-spacing: 0.025em;
}

body p {
  line-height: 1.5;
}

body .page-padding {
  padding-inline: var(--page-padding);
}

body .page-max-width {
  max-width: var(--page-max-width);
  overflow-x: hidden;
}

@media screen and (width>=640px) {
  :root {
    --page-padding: clamp(40px,6.3vw,64px);
  }
}

@media screen and (width>=1536px) {
  body .page-max-width {
    margin-inline: auto;
  }
}