
.embla {

    position: relative;
    box-sizing: border-box;
    z-index: 2;
}

.embla__container {
    display: flex;
    flex-direction: row;
}

.embla__container .embla__slide {
    flex: 0 0 auto;
    overflow: hidden;
    z-index: 3;
}

.embla .embla-navigation {
    opacity: 0;
    pointer-events: none;
}

.embla .base-slides,
.embla .trending-slides {
    position: relative;
    overflow: hidden;
}

.embla .disable-slide {
    pointer-events: none;
    visibility: hidden;
}

.embla .embla__slide:not(.disable-slide) img {
    filter: brightness(0.95) contrast(1.05) saturate(1.1);
}

@media screen and (width >=768px) {
    .embla .embla-navigation {
        transition: opacity 0.3s ease-in-out;
    }

    .embla:hover .embla-navigation {
        pointer-events: initial;
        opacity: 100%;
    }
}