.embla {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
}

.embla__container {
    display: flex;
    flex-direction: row;
}

.embla .embla__viewport {
    overflow: hidden;
}

.embla__container .embla__slide {
    flex: 0 0 auto;
    overflow: hidden;
    z-index: 3;
    background-color: #020515;
}

.embla .embla-navigation {
    opacity: 0;
    pointer-events: none;
}

.embla .base-slides, .embla .trending-slides {
    position: relative;
    overflow: hidden;
}

@media screen and ( width >= 768px ) {
    .embla .embla-navigation {
        transition: opacity 0.3s ease-in-out;
    }

    .embla:hover .embla-navigation {
        pointer-events: all;
        opacity: 100%;
    }
}