
.embla {
    box-sizing: border-box;
    z-index: 2;
}

.embla__container {
    display: flex;
    flex-direction: row;
}

.embla .embla__slide {
    flex: 0 0 auto;
    overflow: hidden;
    z-index: 3;
}

.embla .navigation-controlls {
    visibility: hidden;
    pointer-events: none;
}

.embla .embla__slide {
    transform: translate3d(0, 0, 0);
}

.embla .embla__slide.is-in-view img:not(.slide-logo) {
    filter: brightness(0.95) contrast(1.05) saturate(1.1);
}

@media screen and (width >=1024px) {
    .embla .navigation-controlls {
        color: color-mix(in oklab, var(--color-secondary) 20%, transparent);
        transition: color 0.15s ease-out, transform 0.15s ease-out;
    }

    .embla:hover .navigation-controlls {
        visibility: visible;
        pointer-events: initial;
    }

    .embla .navigation-controlls:hover {
        transform: scale(125%);   
        color: var(--color-secondary);  
        cursor: pointer;   
    }
}