@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-carousel {
  position: relative;
}

.hero-carousel .embla__slide {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  min-height: 575px;
}

.hero-carousel .embla__slide .img-wrapper {
  position: relative;
}

.hero-carousel .embla__slide .img-wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 370px;
  top: 0;
  pointer-events: none;
  left: 0;
  background-image: linear-gradient(to top,
      var(--color-gradient-base),
      var(--color-gradient-50),
      var(--color-gradient-0),
      var(--color-gradient-base));
  z-index: 5;
}

.hero-carousel .slide-img {
  height: 370px;
}

.hero-carousel .slide-logo {
  filter: brightness(1.05) contrast(1.1) saturate(1.2);
  max-height: clamp(70px, 8vw, 140px);
  max-width: 50vw;
}

.hero-carousel ul li {
  position: relative;
}

.hero-carousel ul li:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(calc(-50% - 8px), -50%);
  width: 3px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-text);
  border-radius: 50%;
}

@media screen and (width>=640px) {
  .hero-carousel .embla__slide {
    padding-bottom: 0;
    min-height: auto;
  }

  .hero-carousel .slide-logo {
    max-width: 30vw;
  }

  .hero-carousel .slide-img {
    height: auto;
    min-height: 400px;
    max-height: 100vh;
  }

  .hero-carousel .embla__slide .img-wrapper::before {
    height: 100%;
    background-image: linear-gradient(to top,
        var(--color-gradient-base) 0%,
        var(--color-gradient-0) 50%,
        var(--color-gradient-0) 85%,
        var(--color-gradient-base) 100%);
  }

  .hero-carousel .embla__slide .img-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    left: 0;
    background-image: linear-gradient(to right,
        var(--color-gradient-base),
        var(--color-gradient-0));
    z-index: 4;
  }
}

@media screen and (width >=1024px) {
  .hero-carousel .embla__slide .img-wrapper::after {
    background-image: linear-gradient(to right,
      var(--color-gradient-base) 0%,
      var(--color-gradient-base) 30%,
      var(--color-gradient-0)
    );
    z-index: 4;
  }
}