
.header-slides {
  position: relative;
}

.header-slides .embla__slide {
  width: 100%;
}

.header-image-container {
    width: 100%;
    height: 660px;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.header-image-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #020515, transparent, #020515, #020515);
}

@media (min-width: 640px) {
  .header-image-container {
    height: 500px;
  }
}

@media (min-width: 768px) {
  .header-image-container {
    height: 80vh;
    max-height: 750px;
  }

  .header-image-container::before {
    background: linear-gradient(to bottom, #020515, transparent, #020515);
  }
}

@media (min-width: 1024px) {
  .header-image-container {
    height: 100vh;
    max-height: 750px;
  }
}


  