nav ul li {
    animation-timing-function: ease;
    position: relative;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: clamp(1rem, 1.15vw, 1.125rem);
    color: var(--color-secondary);
}

nav ul li:hover {
    color: var(--color-primary);
} 