.selector-wrapper.opened .selector {
    position: relative;
    z-index: 101;
}

.selector-wrapper .selector .arrow-down {
    transition: transform 0.15s ease-out;
}

.selector-wrapper.opened .selector .arrow-down {
    transform: rotate(-180deg);
}

.selector-wrapper.closed .overlay,
.selector-wrapper.closed .selector-options {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease-in, visibility 0.15s ease-in;
}

.selector-wrapper.open .overlay,
.selector-wrapper.open .selector-options {
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}