@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

.episodes-carousel {
    width: 100%;
}

.episodes-carousel .embla__container {
    display: flex;
}

.episodes-carousel .embla__slide {
    width: calc(100% - var(--page-padding) * 2);
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.episodes-carousel .embla__slide:first-of-type {
    margin-left: var(--page-padding);
}

.episodes-carousel .embla__slide:last-of-type {
    margin-right: var(--page-padding);
}

.episodes-carousel .prev-slide-box,
.episodes-carousel .next-slide-box {
    background-color: var(--color-gradient-80);
}

@media screen and (width >=640px) {
    .episodes-carousel .embla__slide {
        width: calc((100% - var(--page-padding) * 2 - 8px) / 2);
    }
}

@media screen and (width >=1024px) {
    .episodes-carousel .embla__slide {
        width: calc((100% - var(--page-padding) * 2 - 16px) / 3);
    }
}

@media screen and (width >=1440px) {
    .episodes-carousel .embla__slide {
        width: calc((100% - var(--page-padding) * 2 - 24px) / 4);
    }
}

@media screen and (width >=1536px) {
    .episodes-carousel .embla {
        width: calc(var(--page-max-width) - var(--page-padding) * 2);
    }

    .episodes-carousel .embla__slide {
        width: calc((100% - 24px) / 4);
    }

    .episodes-carousel .embla__slide:first-of-type {
        margin-left: 0;
    }

    .episodes-carousel .embla__slide:last-of-type {
        margin-right: 0;
    }
}