.closed-selector .overlay,
.closed-selector .languages-list {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
}

.opened-selector .overlay,
.opened-selector .languages-list {
    transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}