.custom-tooltip {
    position: relative;
}

.custom-tooltip::before {
    content: attr(tooltip-msg);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: calc(100% + 18px);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    color: var(--color-background);
    font-size: clamp(1rem, 1.15vw, 1.125rem);
    padding: 12px;
    border-radius: 4px;
    white-space: nowrap;
    font-weight: 600;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.custom-tooltip::after {
    content: '';
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--color-primary);
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.custom-tooltip:hover::before,
.custom-tooltip:hover::after {
    visibility: visible;
    opacity: 1;
}