.search-page-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
    min-height: 100vh;
    margin-top: 128px;
    font-weight: 400;
    transition: opacity 0.2s ease;
}

.search-page-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient( to bottom, #020515,#16142B, #16142B, #020515);
    height: 550px;
    z-index: 1;
}
  
@media (min-width: 768px) {
    .search-page-container {
        padding: 0 24px;
    }
}
  
@media (min-width: 1024px) {
    .search-page-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}
  