.search-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}

.search-page-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient( 
        to bottom, 
        var(--color-surface),
        var(--color-surface), 
        var(--color-surface), 
        var(--color-background)
    );
    height: 550px;
    z-index: 1;
}
  